.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.infected {
  border-bottom: 10px solid blue;
}

.recovered{
  border-bottom: 10px solid green;
}

.deaths{
  border-bottom: 10px solid red;
}
.vaccinated{
    border-bottom: 10px solid purple;
}
.hospitalized{
    border-bottom: 10px solid pink;
}
